%html
  %head
    %title
      Circle Generator
  %body
    %form{action: "", method: :post}
      %p
        %textarea{name: "circles", row:20, cols:80}
          [{"label":"cerchio1", "x":0, "y":0, "size":"0.5", "radius":267.5},{"label":"cerchio2", "x":0, "y":0, "size":"0.5", "radius":241.5},{"label":"cerchio3", "x":0, "y":0, "size":"0.5", "radius":218},{"label":"cerchio4", "x":0, "y":0, "size":"0.5", "radius":213.5}]
      %p
        H (cm)
        %input{type: :text, name: "custom_size[]", value: 540}
      %p
        L (cm)
        %input{type: :text, name: "custom_size[]", value: 540}
      %p
        dpi
        %input{type: :text, name: "dpi", value: 72}
      %p
        UM
        %select{name: "um", :multiple => false}
          %option{value: 'cm', selected: true} CM
          %option{value: 'in'} INCH
          %option{value: 'px'} pixel
      %p
        Format
        %select{name: "format", :multiple => false}
          %option{value: 'png', selected: true} PNG
          %option{value: 'pdf' } PDF
          %option{value: 'jpg' } JPG
          %option{value: 'tif' } TIF
          %option{value: 'gif' } GIF

      %p
        %button{type: :submit}
          generate