%html
  %head
    %title
      Circle Generator
  %body
    %form{action: "", method: :post}
      %p
        %textarea{name: "circles", row:20, cols:80}
          [{"label":"cerchio1", "x":0, "y":0, "size":"0.5", "radius":267.5},{"label":"cerchio2", "x":0, "y":0, "size":"0.5", "radius":241.5},{"label":"cerchio3", "x":0, "y":0, "size":"0.5", "radius":218},{"label":"cerchio4", "x":0, "y":0, "size":"0.5", "radius":213.5}]
      %p
        H (cm)
        %input{type: :text, name: "custom_size[]", value: 540}
      %p
        L (cm)
        %input{type: :text, name: "custom_size[]", value: 540}
      %p
        Format
        %select{name: "format", :multiple => false}
          %option{value: 'pdf', selected: true} PDF
          %option{value: 'jpg'} JPG
      %p
        %button{type: :submit}
          generate